src/SelfContainedSolutionTest/unpacked-solution/CanvasApps/cat_preparesolutionforexport_6c7e7_DocumentUri_msapp/pkgs/Wadl/FindDuplicatesInUnmanagedSolutions.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="FindDuplicatesInUnmanagedSolutions" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="FindDuplicatesInUnmanagedSolutions" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_solutioncomponentid_def" />
      <string name="ResponseActionOutput_items_def_solutioncomponentobjectid_def" />
      <integer name="ResponseActionOutput_items_def_solutioncomponenttype_def" />
      <string name="ResponseActionOutput_items_def_solutioncomponentschemaname_def" />
      <string name="ResponseActionOutput_items_def_solutioncomponentfriendlyname_def" />
      <string name="ResponseActionOutput_items_def_solutionuniquename_def" />
      <string name="ResponseActionOutput_items_def_solutionfriendlyname_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="solutioncomponentid" type="string" />
        <property name="solutioncomponentobjectid" type="string" />
        <property name="solutioncomponenttype" type="integer" />
        <property name="solutioncomponentschemaname" type="string" />
        <property name="solutioncomponentfriendlyname" type="string" />
        <property name="solutionuniquename" type="string" />
        <property name="solutionfriendlyname" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="SolutionId" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="SolutionUniqueName" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>